@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Tamil:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

:root::-webkit-scrollbar {
  display: none;
}

/*{
  
  font-family: Gilroy-Medium;
  
} */
.headerline {
  display: flex;
  align-items: center;
  padding: 20px 80px;
  justify-content: space-between;
  background-color: #ffffff;
  border-bottom-color: #ebebeb;
}

.headerlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10.111px;
}

.but {
  display: flex;
  gap: 12px;
}

.getstartbtn {
  border-radius: 10px;
  background: #5978ff;
  padding: 10px 20px;
  border: none;
  color: #ffffff;
  /* justify-content: center;
  align-items: center; */
  gap: 8px;
  color: #fff;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.loginbtn {
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid #5978ff;
  background: #f7f9ff;
  color: #5978ff;

  /* Body 2 (14px)/Medium */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  /* 142.857% */
}

.navge {
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  color: #555555;
  display: flex;
  /* align-items: center; */
  gap: 32px;
  /* align-items: center; */
  /* justify-content: center; */
}

#section1 {
  display: flex;
  padding: 137.07px 110.73px;
  background: #f7f9ff;
  justify-content: space-between;
}

.textpara {
  width: 545px;
  height: 462px;
  align-items: flex-start;
}

.infotext {
  display: flex;
  gap: 16px;
}

.join {
  display: flex;
  gap: 12px;
}

.exploreadvisors_btn {
  display: inline-flex;
  padding: 17px 36px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  background: #5978ff;
  border: none;
  color: #ffffff;
  color: #fff;
  font-family: "Gilroy-SemiBold";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.ratingstar {
  display: flex;
  gap: 6px;
}

.illstart1 {
  position: relative;
  width: 520.004px;
  height: 425.004px;
}

.rating {
  position: absolute;
  bottom: 4px;
  /* right:0px; */
  display: flex;
  /* height: 85px;
width: 198px; */
  padding: 20px 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 2px 32px 0px rgba(0, 0, 0, 0.08);
}

#section2 {
  height: 855px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.videocount {
  width: 1022px;
  height: 525px;
  flex-shrink: 0;
  border-radius: 12px 12px 0 0;
  background: #0d1226;
}

.firstbox {
  width: 287px;
  height: 191px;
}

.sectiontitle {
  padding: 100px 182px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 71px;
  row-gap: 80px;
}

.sectioncounter {
  display: flex;
  justify-content: center;
}

.firstboxtitle {
  color: #121214;
  font-family: Gilroy-SemiBold;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.firstboxtext {
  color: #555;
  font-family: Gilroy-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.headtext {
  color: #121214;
  text-align: center;
  font-family: Gilroy-Bold;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px;
  /* 132.143% */
  text-transform: capitalize;
  padding-top: 100px;
}

#section3 {
  background: #f7f9ff;
  position: relative;
}

.paratext {
  color: #121214;
  font-family: Gilroy-Medium;
  font-size: 18px;
  margin-top: 13px;
  font-weight: 400;
  line-height: 24px;
  width: 526px;
  height: 96px;
  margin-top: 13px;
}

.navgenon {
  color: #555;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
}

.dots {
  position: absolute;
  margin-left: 6px;
  top: 1660px;
}

.card {
  width: 320px;
  border-radius: 12px;
  border: 1px solid #f5f5f5;
  background: #ffffff;
  padding-bottom: 20px;
  box-shadow: 0px 1px 32px 0px rgba(0, 0, 0, 0.04);
}

.discount {
  display: flex;
  justify-content: space-between;

  margin-left: 8px;
  margin-right: 8px;
  padding: 10px;
  border-radius: 12px;
  background: #f7f9ff;

}

.offer {
  width: 272px;
  height: 32px;
  border-radius: 8px 0px 0px 8px;
  background: linear-gradient(90deg,
      rgba(248, 151, 31, 0.12) 0%,
      rgba(248, 248, 248, 0.24) 96.14%);
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 12px;
  margin-top: 4px;
  padding: 8px 10px;
}

.offertext1 {
  color: #402708;
  font-family: Gilroy-Medium;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
  gap: 3px;
}

.offertext2 {
  color: #402708;
  font-family: Gilroy-SemiBold;
  font-size: 12px;
  font-style: normal;
  line-height: 16px;
}

.section4 {
  display: flex;
  height: 782px;
  justify-content: center;
  align-items: center;
}

/* .carname {
  display: flex;
} */

.greencard {
  width: 50px;
  height: 24px;
  border-radius: 4px;
  background: linear-gradient(90deg, #008545 0%, #058a4a 100%);
  display: inline-flex;
  padding: 4px 6px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nameofcard {
  color: #121214;
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  margin: 0px;

}

.cardname1 {
  display: flex;

  margin: 12px 16px 0px 18px;

  justify-content: space-between;
  align-items: center;
}

.experience {
  display: flex;
  gap: 8px;
  margin: 9px 18px;
  margin-top: 0;
  margin-bottom: 20px;
  color: #008545;

}

.bookbtn {
  display: flex;
  width: 80px;
  height: 40px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  background: #5978ff;
  color: #fff;
  border: none;
  color: #fff;
  font-family: Gilroy-SemiBold;
  font-size: 14px;
}

.years {
  color: #555;
  font-family: Gilroy-Medium;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 0px;
}

.discountpoint {
  color: #555;
  text-decoration: line-through;
  margin: 0;
  font-size: 12px;
}

.discuntmin {
  color: #0D1226;
  font-family: Gilroy-SemiBold;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 0;
}

.totalcard {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 23px;
}

.explore {
  display: flex;
  width: 222px;
  padding: 14px 28px;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.explreconte {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}
.feedblock{
  height: 546px;
  display: block;
  justify-content: center;
}
.feedback_count{
  width: 321px;
  height: 354px;
  border-radius: 12px;
  background: #F0F9FA;
  display: block;
  text-align: center;
}
.feedback_cards{
  display: flex;
  justify-content: center;
  align-items: center; 
}